<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>

<body class="bg-light">

    <div class="container m-6 mt-5 p-4">
        <h2 class="text-center alert alert-primary">CRUD PROJECT using DJANGO</h2>
        {% block content %}

        {% endblock content %}

    </div>

    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>

</html>